$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//fonts
$font-regular: "AvenirNextRegular";
$font-demi: "AvenirNextDemiBold";
$font-bold: "AvenirNextBold";

//Colors

$primary-blue: #0095FF;
$primary-white: #FFFFFF;
$primary-silver: #AFAFAF;
$primary-black: #323232;
$primary-mercury: #E1E1E1;

