@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;
@use '../../partials/typography' as *;

//Look into wrapping this all into a variable
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: default;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  .body {
    padding: 0;
    margin: 0;
    width: 100%;
  }
//Up to here

//header section
.header {
    width: 100%;
    height: 10.5625rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include tablet {
        padding: 1rem 1.5rem;
        height: 5rem;
        flex-direction: row;
        align-items: space-between;
    }

    @include desktop {
        padding: 1rem 6.25rem;
    }

    &__left {
        margin: 1rem 0;
     
        @include tablet {
            width: 100%;
            margin-right: 10.5625rem;
            flex: 40%;
        }

        @include desktop {
            margin-right: 31.8125rem;
            flex: 45%;
        }
     }


    &__logo {
        height: 100%;
        width: 100%;
    }

    &__middle {
        width: 100%;
        padding-bottom: 0.5rem;
        
        @include tablet {
            align-items: center;
            padding-bottom: 0;
        }
    }

    &__search-wrapper {
        position: relative;
    }

    &__search {
        width: 100%;
        padding: 0.5rem;
        font-family: $font-demi;
        font-size: 13px;
        line-height: 18px;
        padding-left: 2rem;
        border: 1px solid $primary-mercury;
        border-radius: 5px;
        

        @include tablet {
            height: 3rem;
            justify-content: flex-end;
        }

        @include desktop {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__search-icon {
        position: absolute;
        top: 0.625rem;
        left: 0.625rem;

        @include tablet {
            top: 0.9rem;
            bottom: 0.9rem;
        }
    }

    &__right {
        width: 100%;
        padding-bottom: 1rem;
        display: flex;
        justify-content: space-between;

        @include tablet {
            justify-content: flex-end;
            align-items: center;
            flex: 70%;
            padding: 0;
            margin-left: 1.5rem;
        }

        @include desktop {
            flex: 80%;
            width: 100%;
            
        }
    }

    &__button {
        border-radius: 4px;
        background-color: $primary-blue;
        color: $primary-white;
        width: 100%; 
        border: none;
        font-family: $font-demi;
        font-size: 14px;
        line-height: 22px;

        @include tablet {
            width: 100%;
            height: 3rem;
            align-items: center;
            padding: 0 0.5rem;
        }

        @include desktop {
            font-size: 16px;
            line-height: 24px;
        }

    } 
}
.profile__pic {
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        margin: 0.5rem 0 0 1rem;

        @include tablet{
            margin: 0 0 0 1.5rem;
            align-items: center;
        }
    }





