@use '../../partials/mixins' as *;
@use '../../partials/variables' as *;
@use '../../partials/typography' as *;


.main__video {
    width: 100%;
    padding: 0;

    @include tablet {
    }

    @include desktop {
    }

    &-container {
        width: 100%;
        position: relative;

        @include tablet {
            background-color: $primary-black;
        }

        @include desktop {
        }
    }

    &-playing {
        width: 100%;
        height: auto;

        @include tablet {
            padding: 0 2.125rem;
        }

        @include desktop {
            padding: 0 10.5rem;
        }
    }

    &-controls-container {
        position: absolute;
        bottom: 10px;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    &-image-container {
        background-color: rgba(50, 50, 50 , 0.7);
        border-radius: 5px;
    }

    &__volume {
        // padding-left: 1rem;

    }

    &-image-container img {
        padding: 5px 20px;
        height: 30px;
    }


}